Repository JesusFilm/core, pull requests merged in 2021-12, with the labels that each got.

#143 FramePortal
  apps/journeys-admin/__generated__/ActionFields.ts
  apps/journeys-admin/__generated__/BlockFields.ts
  apps/journeys-admin/__generated__/ButtonFields.ts
  apps/journeys-admin/__generated__/CardFields.ts
  apps/journeys-admin/__generated__/GetJourneyForEdit.ts
  apps/journeys-admin/__generated__/GridContainerFields.ts
  apps/journeys-admin/__generated__/GridItemFields.ts
  apps/journeys-admin/__generated__/ImageFields.ts
  apps/journeys-admin/__generated__/RadioOptionFields.ts
  apps/journeys-admin/__generated__/RadioQuestionFields.ts
  apps/journeys-admin/__generated__/RadioQuestionResponseCreate.ts
  apps/journeys-admin/__generated__/SignUpFields.ts
  apps/journeys-admin/__generated__/SignUpResponseCreate.ts
  apps/journeys-admin/__generated__/StepFields.ts
  apps/journeys-admin/__generated__/TypographyFields.ts
  apps/journeys-admin/__generated__/VideoFields.ts
  apps/journeys-admin/__generated__/VideoResponseCreate.ts
  apps/journeys-admin/__generated__/VideoTriggerFields.ts
  apps/journeys-admin/__generated__/globalTypes.ts
  apps/journeys-admin/apollo.config.js
  apps/journeys-admin/pages/journeys/[journeySlug]/edit.tsx
  apps/journeys-admin/src/components/FramePortal/FramePortal.spec.tsx
  apps/journeys-admin/src/components/FramePortal/FramePortal.stories.tsx
  apps/journeys-admin/src/components/FramePortal/FramePortal.tsx
  apps/journeys-admin/src/components/FramePortal/index.ts
  apps/journeys-admin/src/components/index.ts
  package-lock.json
  package.json
Labels: enhancement, journeys-admin

#134 C4/journey card
  apps/journeys-admin/src/components/JourneyList/JourneyCard/JourneyCard.spec.tsx
  apps/journeys-admin/src/components/JourneyList/JourneyCard/JourneyCard.stories.tsx
  apps/journeys-admin/src/components/JourneyList/JourneyCard/JourneyCard.tsx
  apps/journeys-admin/src/components/JourneyList/JourneyCard/JourneyCardMenu/JourneyCardMenu.tsx
  apps/journeys-admin/src/components/JourneyList/JourneyList.stories.tsx
  apps/journeys-admin/src/components/JourneyList/JourneyList.tsx
  apps/journeys-admin/src/components/JourneyList/journeyListData.ts
Labels: component, frontend

#150 C4/Single journey card overview - Edit Button
  apps/journeys-admin/src/components/SingleJourney/CardOverview/CardOverview.spec.tsx
  apps/journeys-admin/src/components/SingleJourney/CardOverview/CardOverview.stories.tsx
  apps/journeys-admin/src/components/SingleJourney/CardOverview/CardOverview.tsx
  apps/journeys-admin/src/components/SingleJourney/CardOverview/index.ts
Labels: component, journeys-admin

#149 add admin theme
  apps/journeys-admin/src/components/ThemeProvider/ThemeProvider.tsx
  apps/journeys-admin/src/components/ThemeProvider/index.ts
  apps/journeys-admin/src/components/ThemeProvider/theme.ts
  apps/journeys-admin/src/components/index.ts
  apps/journeys-admin/src/libs/storybook/config.tsx
Labels: frontend, journeys-admin

#142 C4/journey card menu
  apps/journeys-admin/src/components/JourneyList/JourneyCard/JourneyCard.tsx
  apps/journeys-admin/src/components/JourneyList/JourneyCard/JourneyCardMenu/JourneyCardMenu.spec.tsx
  apps/journeys-admin/src/components/JourneyList/JourneyCard/JourneyCardMenu/JourneyCardMenu.stories.tsx
  apps/journeys-admin/src/components/JourneyList/JourneyCard/JourneyCardMenu/JourneyCardMenu.tsx
Labels: component, frontend

#156 card preview
  apps/journeys-admin/src/components/CardPreview/CardPreview.spec.tsx
  apps/journeys-admin/src/components/CardPreview/CardPreview.stories.tsx
  apps/journeys-admin/src/components/CardPreview/CardPreview.tsx
  apps/journeys-admin/src/components/CardPreview/index.ts
Labels: component, frontend, journeys-admin

#161 FramePortal transparent background
  apps/journeys-admin/src/components/FramePortal/FramePortal.spec.tsx
  apps/journeys-admin/src/components/FramePortal/FramePortal.tsx
Labels: bug, journeys-admin

#157 Feature: Editor
  apps/journeys-admin/__generated__/GetJourneyForEdit.ts
  apps/journeys-admin/pages/journeys/[journeySlug]/edit.tsx
  apps/journeys-admin/src/components/Editor/Canvas/Canvas.spec.tsx
  apps/journeys-admin/src/components/Editor/Canvas/Canvas.stories.tsx
  apps/journeys-admin/src/components/Editor/Canvas/Canvas.tsx
  apps/journeys-admin/src/components/Editor/Canvas/index.ts
  apps/journeys-admin/src/components/Editor/Context/Context.tsx
  apps/journeys-admin/src/components/Editor/Context/index.ts
  apps/journeys-admin/src/components/Editor/ControlPanel/Attributes/Attribute/Attribute.spec.tsx
  apps/journeys-admin/src/components/Editor/ControlPanel/Attributes/Attribute/Attribute.stories.tsx
  apps/journeys-admin/src/components/Editor/ControlPanel/Attributes/Attribute/Attribute.tsx
  apps/journeys-admin/src/components/Editor/ControlPanel/Attributes/Attribute/index.ts
  apps/journeys-admin/src/components/Editor/ControlPanel/Attributes/Attributes.spec.tsx
  apps/journeys-admin/src/components/Editor/ControlPanel/Attributes/Attributes.stories.tsx
  apps/journeys-admin/src/components/Editor/ControlPanel/Attributes/Attributes.tsx
  apps/journeys-admin/src/components/Editor/ControlPanel/Attributes/blocks/Card/Card.spec.tsx
  apps/journeys-admin/src/components/Editor/ControlPanel/Attributes/blocks/Card/Card.stories.tsx
  apps/journeys-admin/src/components/Editor/ControlPanel/Attributes/blocks/Card/Card.tsx
  apps/journeys-admin/src/components/Editor/ControlPanel/Attributes/blocks/Card/index.ts
  apps/journeys-admin/src/components/Editor/ControlPanel/Attributes/blocks/Step/Step.spec.tsx
  apps/journeys-admin/src/components/Editor/ControlPanel/Attributes/blocks/Step/Step.stories.tsx
  apps/journeys-admin/src/components/Editor/ControlPanel/Attributes/blocks/Step/Step.tsx
  apps/journeys-admin/src/components/Editor/ControlPanel/Attributes/blocks/Step/index.ts
  apps/journeys-admin/src/components/Editor/ControlPanel/Attributes/blocks/index.ts
  apps/journeys-admin/src/components/Editor/ControlPanel/Attributes/index.ts
  apps/journeys-admin/src/components/Editor/ControlPanel/ControlPanel.spec.tsx
  apps/journeys-admin/src/components/Editor/ControlPanel/ControlPanel.stories.tsx
  apps/journeys-admin/src/components/Editor/ControlPanel/ControlPanel.tsx
  apps/journeys-admin/src/components/Editor/ControlPanel/index.ts
  apps/journeys-admin/src/components/Editor/Editor.spec.tsx
  apps/journeys-admin/src/components/Editor/Editor.stories.tsx
  apps/journeys-admin/src/components/Editor/Editor.tsx
  apps/journeys-admin/src/components/Editor/TopBar/TopBar.spec.tsx
  apps/journeys-admin/src/components/Editor/TopBar/TopBar.stories.tsx
  apps/journeys-admin/src/components/Editor/TopBar/TopBar.tsx
  apps/journeys-admin/src/components/Editor/TopBar/index.ts
  apps/journeys-admin/src/components/Editor/index.ts
  apps/journeys-admin/src/components/ThemeProvider/theme.ts
Labels: journeys-admin, feature branch

#163 c4/ admin theme typography update
  apps/journeys-admin/src/components/Editor/Canvas/Canvas.spec.tsx
  apps/journeys-admin/src/components/Editor/ControlPanel/Attributes/Attribute/Attribute.spec.tsx
  apps/journeys-admin/src/components/ThemeProvider/ThemeProvider.tsx
  apps/journeys-admin/src/components/ThemeProvider/admin/theme.stories.tsx
  apps/journeys-admin/src/components/ThemeProvider/admin/theme.ts
  apps/journeys-admin/src/components/ThemeProvider/admin/tokens/colors.ts
  apps/journeys-admin/src/components/ThemeProvider/admin/tokens/components.ts
  apps/journeys-admin/src/components/ThemeProvider/admin/tokens/spacing.ts
  apps/journeys-admin/src/components/ThemeProvider/admin/tokens/typography.ts
  apps/journeys-admin/src/components/ThemeProvider/theme.ts
Labels: journeys-admin

#169 HorizontalSelect component
  apps/journeys-admin/src/components/CardPreview/CardPreview.spec.tsx
  apps/journeys-admin/src/components/CardPreview/CardPreview.tsx
  apps/journeys-admin/src/components/HorizontalSelect/HorizontalSelect.spec.tsx
  apps/journeys-admin/src/components/HorizontalSelect/HorizontalSelect.stories.tsx
  apps/journeys-admin/src/components/HorizontalSelect/HorizontalSelect.tsx
  apps/journeys-admin/src/components/HorizontalSelect/index.ts
Labels: journeys-admin

#167 C4/journey card styling
  apps/journeys-admin/src/components/JourneyList/JourneyCard/JourneyCard.spec.tsx
  apps/journeys-admin/src/components/JourneyList/JourneyCard/JourneyCard.stories.tsx
  apps/journeys-admin/src/components/JourneyList/JourneyCard/JourneyCard.tsx
  apps/journeys-admin/src/components/JourneyList/JourneyCard/index.ts
  apps/journeys-admin/src/components/JourneyList/JourneyList.tsx
  apps/journeys-admin/src/components/JourneyList/journeyListData.ts
  package-lock.json
  package.json
Labels: component, journeys-admin

#166 C4/journey list
  apps/journeys-admin/pages/journeys/index.tsx
  apps/journeys-admin/src/components/JourneyList/JourneyList.spec.tsx
  apps/journeys-admin/src/components/JourneyList/JourneyList.stories.tsx
  apps/journeys-admin/src/components/JourneyList/JourneyList.tsx
  apps/journeys-admin/src/components/JourneyList/index.ts
  apps/journeys-admin/src/components/ThemeProvider/admin/tokens/components.ts
  apps/journeys-admin/src/components/index.ts
Labels: component, journeys-admin

#174 changed the position of the FAB
  apps/journeys-admin/pages/journeys/[journeySlug].tsx
  apps/journeys-admin/src/components/SingleJourney/CardOverview/CardOverview.spec.tsx
  apps/journeys-admin/src/components/SingleJourney/CardOverview/CardOverview.stories.tsx
  apps/journeys-admin/src/components/SingleJourney/CardOverview/CardOverview.tsx
  apps/journeys-admin/src/components/SingleJourney/CardOverview/index.ts
Labels: journeys-admin

#144 share section for single journey
  apps/journeys-admin/src/components/SingleJourney/ShareSection/ShareSection.spec.tsx
  apps/journeys-admin/src/components/SingleJourney/ShareSection/ShareSection.stories.tsx
  apps/journeys-admin/src/components/SingleJourney/ShareSection/ShareSection.tsx
  apps/journeys-admin/src/components/SingleJourney/ShareSection/index.ts
  apps/journeys-admin/src/components/ThemeProvider/admin/tokens/components.ts
Labels: component, frontend

#168 editor drawer
  apps/journeys-admin/setupTests.ts
  apps/journeys-admin/src/components/Editor/Canvas/Canvas.tsx
  apps/journeys-admin/src/components/Editor/Context/Context.tsx
  apps/journeys-admin/src/components/Editor/ControlPanel/Attributes/Attribute/Attribute.spec.tsx
  apps/journeys-admin/src/components/Editor/ControlPanel/Attributes/blocks/Card/BackgroundColor/BackgroundColor.tsx
  apps/journeys-admin/src/components/Editor/ControlPanel/Attributes/blocks/Card/BackgroundColor/index.ts
  apps/journeys-admin/src/components/Editor/ControlPanel/Attributes/blocks/Card/BackgroundMedia/BackgroundMedia.tsx
  apps/journeys-admin/src/components/Editor/ControlPanel/Attributes/blocks/Card/BackgroundMedia/index.ts
  apps/journeys-admin/src/components/Editor/ControlPanel/Attributes/blocks/Card/Card.spec.tsx
  apps/journeys-admin/src/components/Editor/ControlPanel/Attributes/blocks/Card/Card.tsx
  apps/journeys-admin/src/components/Editor/ControlPanel/Attributes/blocks/Card/CardLayout/CardLayout.tsx
  apps/journeys-admin/src/components/Editor/ControlPanel/Attributes/blocks/Card/CardLayout/index.ts
  apps/journeys-admin/src/components/Editor/ControlPanel/Attributes/blocks/Card/CardStyling/CardStyling.tsx
  apps/journeys-admin/src/components/Editor/ControlPanel/Attributes/blocks/Card/CardStyling/index.ts
  apps/journeys-admin/src/components/Editor/ControlPanel/Attributes/blocks/Step/NextCard/NextCard.tsx
  apps/journeys-admin/src/components/Editor/ControlPanel/Attributes/blocks/Step/NextCard/index.ts
  apps/journeys-admin/src/components/Editor/ControlPanel/Attributes/blocks/Step/Step.spec.tsx
  apps/journeys-admin/src/components/Editor/ControlPanel/Attributes/blocks/Step/Step.tsx
  apps/journeys-admin/src/components/Editor/Drawer/Drawer.spec.tsx
  apps/journeys-admin/src/components/Editor/Drawer/Drawer.stories.tsx
  apps/journeys-admin/src/components/Editor/Drawer/Drawer.tsx
  apps/journeys-admin/src/components/Editor/Drawer/SocialShareAppearance/SocialShareAppearance.spec.tsx
  apps/journeys-admin/src/components/Editor/Drawer/SocialShareAppearance/SocialShareAppearance.tsx
  apps/journeys-admin/src/components/Editor/Drawer/SocialShareAppearance/index.ts
  apps/journeys-admin/src/components/Editor/Drawer/index.ts
  apps/journeys-admin/src/components/Editor/Editor.spec.tsx
  apps/journeys-admin/src/components/Editor/Editor.tsx
  apps/journeys-admin/src/components/Editor/TopBar/TopBar.tsx
  apps/journeys-admin/test/createMatchMedia.ts
  apps/journeys-admin/test/testingLibrary.tsx
  package-lock.json
  package.json
Labels: frontend, journeys-admin

#140 Sort Journeys
  apps/journeys-admin/pages/journeys/[journeySlug].tsx
  apps/journeys-admin/pages/journeys/index.tsx
  apps/journeys-admin/src/components/JourneyList/JourneyCard/JourneyCard.tsx
  apps/journeys-admin/src/components/JourneyList/JourneyList.spec.tsx
  apps/journeys-admin/src/components/JourneyList/JourneyList.stories.tsx
  apps/journeys-admin/src/components/JourneyList/JourneyList.tsx
  apps/journeys-admin/src/components/JourneyList/JourneySort/JourneySort.spec.tsx
  apps/journeys-admin/src/components/JourneyList/JourneySort/JourneySort.stories.tsx
  apps/journeys-admin/src/components/JourneyList/JourneySort/JourneySort.tsx
  apps/journeys-admin/src/components/JourneyList/JourneySort/index.ts
  apps/journeys-admin/src/components/JourneyList/journeyListData.ts
Labels: component, frontend, journeys-admin

#155 Journey List Page
  apps/journeys-admin/__generated__/GetJourney.ts
  apps/journeys-admin/__generated__/GetJourneys.ts
  apps/journeys-admin/pages/_app.tsx
  apps/journeys-admin/pages/_document.tsx
  apps/journeys-admin/pages/index.tsx
  apps/journeys-admin/pages/journeys/[journeySlug].tsx
  apps/journeys-admin/pages/journeys/index.tsx
  apps/journeys-admin/src/components/JourneyList/JourneyCard/JourneyCard.spec.tsx
  apps/journeys-admin/src/components/JourneyList/JourneyCard/JourneyCard.stories.tsx
  apps/journeys-admin/src/components/JourneyList/JourneyCard/JourneyCard.tsx
  apps/journeys-admin/src/components/JourneyList/JourneyCard/JourneyCardMenu/JourneyCardMenu.spec.tsx
  apps/journeys-admin/src/components/JourneyList/JourneyCard/JourneyCardMenu/JourneyCardMenu.stories.tsx
  apps/journeys-admin/src/components/JourneyList/JourneyCard/JourneyCardMenu/JourneyCardMenu.tsx
  apps/journeys-admin/src/components/JourneyList/JourneyCard/JourneyCardMenu/index.ts
  apps/journeys-admin/src/components/JourneyList/JourneyCard/index.ts
  apps/journeys-admin/src/components/JourneyList/JourneyList.spec.tsx
  apps/journeys-admin/src/components/JourneyList/JourneyList.stories.tsx
  apps/journeys-admin/src/components/JourneyList/JourneyList.tsx
  apps/journeys-admin/src/components/JourneyList/JourneySort/JourneySort.spec.tsx
  apps/journeys-admin/src/components/JourneyList/JourneySort/JourneySort.stories.tsx
  apps/journeys-admin/src/components/JourneyList/JourneySort/JourneySort.tsx
  apps/journeys-admin/src/components/JourneyList/JourneySort/index.ts
  apps/journeys-admin/src/components/JourneyList/index.ts
  apps/journeys-admin/src/components/JourneyList/journeyListData.ts
  apps/journeys-admin/src/components/JourneysAppBar/JourneysAppBar.tsx
  apps/journeys-admin/src/components/ThemeProvider/admin/tokens/components.ts
  apps/journeys-admin/src/components/index.ts
  package-lock.json
  package.json
Labels: feature branch

#154 Single journey actions
  apps/journeys-admin/__generated__/GetJourney.ts
  apps/journeys-admin/__generated__/JourneyDescUpdate.ts
  apps/journeys-admin/__generated__/JourneyPublish.ts
  apps/journeys-admin/__generated__/JourneyTitleUpdate.ts
  apps/journeys-admin/__generated__/globalTypes.ts
  apps/journeys-admin/pages/journeys/[journeySlug].tsx
  apps/journeys-admin/src/components/JourneyView/CardView/CardView.spec.tsx
  apps/journeys-admin/src/components/JourneyView/CardView/CardView.stories.tsx
  apps/journeys-admin/src/components/JourneyView/CardView/CardView.tsx
  apps/journeys-admin/src/components/JourneyView/CardView/data.ts
  apps/journeys-admin/src/components/JourneyView/CardView/index.ts
  apps/journeys-admin/src/components/JourneyView/Context/Context.tsx
  apps/journeys-admin/src/components/JourneyView/Context/index.ts
  apps/journeys-admin/src/components/JourneyView/JourneyView.stories.tsx
  apps/journeys-admin/src/components/JourneyView/JourneyView.tsx
  apps/journeys-admin/src/components/JourneyView/Menu/Alert/Alert.stories.tsx
  apps/journeys-admin/src/components/JourneyView/Menu/Alert/Alert.tsx
  apps/journeys-admin/src/components/JourneyView/Menu/Alert/index.ts
  apps/journeys-admin/src/components/JourneyView/Menu/DescriptionDialog/DescriptionDialog.spec.tsx
  apps/journeys-admin/src/components/JourneyView/Menu/DescriptionDialog/DescriptionDialog.stories.tsx
  apps/journeys-admin/src/components/JourneyView/Menu/DescriptionDialog/DescriptionDialog.tsx
  apps/journeys-admin/src/components/JourneyView/Menu/DescriptionDialog/index.ts
  apps/journeys-admin/src/components/JourneyView/Menu/Menu.spec.tsx
  apps/journeys-admin/src/components/JourneyView/Menu/Menu.stories.tsx
  apps/journeys-admin/src/components/JourneyView/Menu/Menu.tsx
  apps/journeys-admin/src/components/JourneyView/Menu/TitleDialog/TitleDialog.spec.tsx
  apps/journeys-admin/src/components/JourneyView/Menu/TitleDialog/TitleDialog.stories.tsx
  apps/journeys-admin/src/components/JourneyView/Menu/TitleDialog/TitleDialog.tsx
  apps/journeys-admin/src/components/JourneyView/Menu/TitleDialog/index.ts
  apps/journeys-admin/src/components/JourneyView/Menu/index.ts
  apps/journeys-admin/src/components/JourneyView/Properties/JourneyDetails/JourneyDetails.stories.tsx
  apps/journeys-admin/src/components/JourneyView/Properties/JourneyDetails/JourneyDetails.tsx
  apps/journeys-admin/src/components/JourneyView/Properties/JourneyDetails/index.ts
  apps/journeys-admin/src/components/JourneyView/Properties/Properties.stories.tsx
  apps/journeys-admin/src/components/JourneyView/Properties/Properties.tsx
  apps/journeys-admin/src/components/JourneyView/Properties/index.ts
  apps/journeys-admin/src/components/JourneyView/ShareSection/ShareSection.spec.tsx
  apps/journeys-admin/src/components/JourneyView/ShareSection/ShareSection.stories.tsx
  apps/journeys-admin/src/components/JourneyView/ShareSection/ShareSection.tsx
  apps/journeys-admin/src/components/JourneyView/ShareSection/index.ts
  apps/journeys-admin/src/components/JourneyView/data.ts
  apps/journeys-admin/src/components/JourneyView/index.ts
  apps/journeys-admin/src/components/JourneysAppBar/JourneysAppBar.spec.tsx
  apps/journeys-admin/src/components/JourneysAppBar/JourneysAppBar.stories.tsx
  apps/journeys-admin/src/components/JourneysAppBar/JourneysAppBar.tsx
  apps/journeys-admin/src/components/SingleJourney/CardOverview/index.ts
  apps/journeys-admin/src/components/SingleJourney/SingleJourneyData.ts
  apps/journeys-admin/src/components/ThemeProvider/admin/tokens/colors.ts
  apps/journeys-admin/src/components/ThemeProvider/admin/tokens/components.ts
  apps/journeys-admin/src/components/index.ts
  apps/journeys-admin/src/libs/storybook/config.tsx
  libs/shared/ui/src/libs/themes/base/tokens/breakpoints.ts
Labels: component, frontend, journeys-admin
